<?xml version="1.0" encoding="UTF-8"?>

<plugin
    id="index-element-selector"
    name="Blacklist and Whitelist Parser and Indexer"
    version="1.0.0"
    provider-name="charlie.chen">

   <runtime>
      <library name="index-element-selector.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="nutch-extensionpoints"/>
   </requires>

   <extension id="org.apache.nutch.plugin.selector.HtmlElementSelectorIndexer"
              name="Nutch Blacklist and Whitelist Indexing Filter"
              point="org.apache.nutch.indexer.IndexingFilter">
      <implementation id="HtmlElementSelectorIndexer"
                      class="org.apache.nutch.plugin.selector.HtmlElementSelectorIndexer"/>
   </extension>

   <extension id="org.apache.nutch.plugin.selector.HtmlElementSelectorFilter"
              name="Nutch Blacklist and Whitelist Parsing Filter"
              point="org.apache.nutch.parse.HtmlParseFilter">
      <implementation id="HtmlElementSelectorFilter"
                      class="org.apache.nutch.plugin.selector.HtmlElementSelectorFilter"/>
   </extension>

</plugin>

